body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.transparent-textarea {
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  resize: none; /* Prevent resizing */
}



.notes-list{
  display: flex;  
  flex-direction: row;  
  flex-wrap: wrap;  
  justify-content: center; 
   align-items: center;  
   gap: 16px; 
  max-width: 1260px; 
   margin: 50PX auto;  
   padding: 20px 20px;
}
.notes-list::after{
  content: "";
  width: 800px;
}
.note{
  background-image: url(assets/howl.png);
  border-radius: 10px;
  padding: 1rem;
  min-height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-weight: 600;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container{
  display: flex;
  flex-direction: row;
  padding: 40px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.plus-icon-wrapper {
  cursor: pointer;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.sidebar-list-item {
  border-radius: 50%;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  margin: 5px;
}
.deleted {
  display: none;
}

